---
layout: base
---

<section class="container">
    <div class="profile_animated_background">
        <video autoplay="" loop="" muted="" playsinline="" style="opacity: 1;">
            <source src="/assets/img/background.webm" type="video/webm">
            <source src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1263950/6c0a7998c55d09d6c69677a5b7c7002125d66024.webm" type="video/webm">
            <source src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1263950/5d55e33857c40b4ae57aaba611cf7ce8a2b41c5b.mp4" type="video/mp4">
        </video>
    </div>
    <article id="content">
        <div class="post-header">
            <div class='header-thumb'></div>
            <span><h1>전체 글</h1></span>
            <span style="padding-left: 5px; font-weight: bold; font-size: calc(1.9em * var(--var-zoom));">({{ site.posts | size }})</h</span>
            <div class="list-type">
                <button type="button" class="thum">썸네일형</button>
                <button type="button" class="list">리스트형</button>
            </div>
        </div>
        <div class="inner" style="max-width: calc(980px * var(--var-zoom)); padding: 0px 40px;">
            {% for post in site.posts %}
                <div class="post-item" style="animation: 1s ease-in-out 0s 1 normal forwards running fadeIn;">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <span class="thum">
                            {% if post.thumb != "" %} 
                                <img src="{{ post.thumb | relative_url }}" alt="">
                            {% endif %}
                        </span>
                        <span class="meta">{{ post.category }} - {{ post.date | date: "%Y/%m/%d" }}</span>
                        <span class="title">{{ post.title }}</span>
                        <span class="excerpt">{{ post.excerpt }}</span>
                    </a>
                    <!-- <s_tag_label>
                        <div class="tagTrail">
                            <span class="tagText">[##_tag_label_rep_##]</span>
                        </div>
                    </s_tag_label> -->
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <a class="prev no-more-prev" style="display: none;">이전</a>
            
                <a href="/?page=1" style="display: none;"><span class="selected">1</span></a>
            
            <a class="next no-more-next" style="display: none;">다음</a>
        </div>
    </article>
</section>
<script src="/assets/js/thumblist.js"></script>
<style>
    :root {
        --var-width: 940px
    }
    body {
        background-color: #000;
    }
</style>
